<footer class="site-footer">
    <div class="container">
        <div id="footer-widgets">
            <div class="row">
                <div class="col-md-4 col-sm-6 widget-container">
                    <div id="text-2" class="widget widget_text">
                        <h3 class="footer-widget-title">Tentang Perpustakaan IT DEL</h3>
                        <span class="underline left"></span>
                        <div class="textwidget">
                           Sudah menjadi fakta lama bahwa perpustakaan IT Del adalah perpustakaan terbaik di Sumatera Utara.
                        </div>
                        <address>
                            <div class="info">
                                <i class="fa fa-location-arrow"></i>
                                <span>Jl. P.I. Del, Sitoluama, Lagu Boti, Kabupaten Toba Samosir, Sumatera Utara 22381</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-envelope"></i>
                                <span><a href="mailto:support@libraria.com">itdel@del.ac.id</a></span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h3 class="footer-widget-title">Link Cepat</h3>
                        <span class="underline left"></span>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li><a target="_blank" href="https://www.del.ac.id">Institut Teknologi Del</a></li>
                                <li><a target="_blank" href="http://spmb.del.ac.id">SPMB IT Del</a></li>
                                <li><a target="_blank" href="https://cis.del.ac.id">CIS</a></li>
                                <li><a target="_blank" href="https://students.del.ac.id">Zimbra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="text-4" class="widget widget_text">
                        <h3 class="footer-widget-title">Waktu</h3>
                        <span class="underline left"></span>
                        <div class="timming-text-widget">
                            <time datetime="2017-02-13">Senin - Jumat:  08:00 - 20:00</time>
                            <time datetime="2017-02-13">Sabtu: 08:00 - 12.00</time>
                            <time datetime="2017-02-13">Minggu: tutup</time>    
                        </div>
                    </div>			
                </div>
                <div class="col-md-4 col-sm-6 widget-container">
                    <div class="widget twitter-widget">
                        <h3 class="footer-widget-title">Tweet Terbaru</h3>
                        <span class="underline left"></span>
                        <div id="twitter-feed">
                            <ul>
                                <li>
                                    <p><a target="_blank" href="#">@joshbar30</a> Mantap mantapp mantapppp</p>
                                </li>
                                <li>
                                    <p><a target="_blank" href="https://twitter.com/bryantobing12">@bryantobing12</a> Keren kereenn kerennn</p>
                                </li>
                            </ul>
                        </div>
                    </div>			
                </div>
            </div>
        </div>                
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-text col-md-3">
                    <p><a target="_blank" href="https://olisitdel.herokuapp.com">SYP-A-09 © 2020. All Rights Reserved.</a></p>
                </div>
                <div class="col-md-9 pull-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/book-list">Books</a></li>
                        <li><a href="/cd_dvd-list">CD &amp; DVD</a></li>
                        <li><a href="/localcontent-list">Local Content</a></li>
                        <li><a href="/article">Artikel</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/pengumuman-list">Pengumuman</a></li>
                        <li><a href="/user/dashboard">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>