<header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <div class="navbar-brand">
                                <h1>
                                    <a href="/">
                                        <img src="/images/logo/Logo Perpus.png" alt="OLIS DEL" width="250" />
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Header Topbar -->
                        <div class="header-topbar hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="topbar-info">
                                        <a href="tel:+61-3-8376-6284"><i class="fa fa-phone"></i>+6282192840486</a>
                                        <span>/</span>
                                        <a href="mailto:olis@del.ac.id"><i class="fa fa-envelope"></i>olis@del.ac.id</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="topbar-links">
                                        <% if(session) { %> 
                                            <form action="/user/logout?_method=DELETE" method="POST">
                                                <li><button class="btnLog" style="background-color: transparent; padding: 0; margin: 0; font-size: 11px; font-weight: bold;" type="submit"><i style="color: #1087cf;" class="fa fa-sign-out"></i> Logout<span>|</span></button></li>
                                            </form>
                                        <% } else { %>
                                            <a href="/user/login"><i class="fa fa-lock"></i>Login</a>
                                            <span>|</span>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-collapse hidden-sm hidden-xs">
                            <ul class="nav navbar-nav">
                            <li <% if(title === "OLIS ITDEL") {%> class="dropdown active" <%}%> >
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Books &amp; Media</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/book-list#book">Books</a></li>
                                        <li><a href="books-media-gird-view-v1.html">CD/DVD</a></li>
                                        <li><a href="books-media-gird-view-v2.html">TA Document</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="news-events-list-view.html">ARTICLE</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                        <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                                <li <% if(title === "Services - OLIS ITDEL") {%>class="active" <%}%>><a href="/services">Services</a></li>
                            <li <% if(title === "Dashboard") {%>class="active" <%}%>><a href="/user/dashboard">Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu hidden-lg hidden-md">
                    <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                    <div id="mobile-menu">
                        <ul>
                            <li class="mobile-title">
                                <h4>Navigation</h4>
                                <a href="#" class="close"></a>
                            </li>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#">Books &amp; Media</a>
                                <ul>
                                    <li style="background-color: white"><a style="color: black;" href="books-media-list-view.html">Books</a></li>
                                    <li style="background-color: white"><a style="color: black;" href="books-media-gird-view-v1.html">CD/DVD</a></li>
                                    <li style="background-color: white"><a style="color: black;" href="books-media-gird-view-v2.html">TA Document</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="news-events-list-view.html">News &amp; Events</a>
                                <ul>
                                    <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                    <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog Grid View</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="/user/dashboard">Dashboard</a></li>
                            <% if(session) { %>
                            <form action="/user/logout?_method=DELETE" method="POST">
                                <li><button type="submit"><i class="fa fa-sign-out"></i> Logout</button></li>
                            </form>
                            <% } else { %>
                                <li><a href="/user/login"> <i class="fa fa-lock"></i> Login </i></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>