<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %>

    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Pengaturan</h2>
                    <span class="underline center"></span>
                    <p class="lead">Pengaturan data aplikasi</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/user/dashboard">Dashboard</a></li>
                        <li>Pengaturan</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        
        <!-- Start: Features -->
        <section class="features">
            <div class="container">
                <div class="center-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">Pengaturan</h2>
                            <span class="underline center"></span>
                            <p class="lead">Pengaturan Data Aplikasi</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="bg-yellow">
                        <div class="feature-box">
                            <i class="yellow"></i>
                            <h3>Books</h3>
                            <p>Pengaturan Buku</p>
                            <a class="yellow" href="/user/add-book">
                                View Book <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-light-green">
                        <div class="feature-box">
                            <i class="light-green"></i>
                            <h3>Local Content</h3>
                            <p>Pengaturan Buku</p>
                            <a class="light-green" href="/user/add-localcontent">
                                View Document <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-blue">
                        <div class="feature-box">
                            <i class="blue"></i>
                            <h3>CD/DVDs</h3>
                            <p>Pengaturan CD/DVD</p>
                            <a class="blue" href="/user/add-dvd">
                                View CD/DVD <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-red">
                        <div class="feature-box">
                            <i class="red"></i>
                            <h3>Article</h3>
                            <p>Pengaturan Article</p>
                            <a class="red" href="/user/add-article">
                                View Article <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-violet">
                        <div class="feature-box">
                            <i class="violet"></i>
                            <h3>Pengumuman</h3>
                            <p>Pengaturan Pengumuman</p>
                            <a class="violet" href="/user/add-pengumuman">
                                View Pengumuman <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Features -->
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>

        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>

    </body>

</html>
