<!DOCTYPE html>
<html lang="zxx">
    

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/flip-card-flip-flop.css">

    <body>
        
        <!-- Start: Header Section -->
        <%- include('../partials/navbar') %>
        <!-- End: Header Section -->
                
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Layanan Kami</h2>
                    <span class="underline center"></span>
                    <p class="lead">Perpustakaan IT Del menyediakan layanan terbaik dengan buku-buku, dokumen, CD, maupun artikel yang lengkap dan menarik. Tertata rapi di setiap sudut gedung dan juga dilengkapi dengan ruangan diskusi dan printer untuk mendukung kegiatan akademik mahasiswa</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Services Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="services-main">
                        <div class="services-pg">                            
                            <section class="services-offering">
                                <div class="container">
                                    <div class="center-content">
                                        <h2 class="section-title">LAYANAN YANG KAMI TAWARKAN</h2>
                                        <span class="underline center"></span>
                                        <p class="lead">Layanan-layanan perpustakaan IT DEL yang dapat mendukung kegiataan mahasiswa :</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="contact-location">
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-home" aria-hidden="true"></i><span>Ruangan Diskusi</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Perpustakaan menyediakan beberapa ruangan diskusi yang dapat digunakan mahasiswa</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Ruangan diskusi mendukung mahasiswa dalam pengerjaan tugas kelompok maupun pengerjan proyek-proyek</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-credit-card" aria-hidden="true"></i><span>Ruangan Diskusi</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-desktop" aria-hidden="true"></i><span>Meja Belajar</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Mahasiswa dapat membaca buku dengan tenang dan juga dapat mengerjakan tugas agar lebih tenang dan nyaman.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Meja belajar bagi mahasiswa di desain khusus untuk memberikan kenyamanan dan ketenangan</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-desktop" aria-hidden="true"></i><span>Meja Belajar</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-microphone" aria-hidden="true"></i><span>Perpustakaan Digital</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Ruangan ini merupakan ruangan untuk lebih mengetahui tentang Digital Perpustakaan.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Perputakaan Digital didukung oleh beberapa partnership dan dapat digunakan oleh mahasiswa dalam diskusi</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-microphone" aria-hidden="true"></i><span>Perpustakaan Digital</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-print" aria-hidden="true"></i><span>Printer Perpustakaan</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Perpustakaan menyediakan printer dalam print IB dan dokumen lainnya</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Printer tersebut memudahkan mahasiswa dalam print dokumen juga surat IB, supaya mahasiswa tidak perlu keluar kampus untuk memprint dokumen</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-print" aria-hidden="true"></i><span>Perpustakaan Digital</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-book" aria-hidden="true"></i><span>Pencarian Buku Digital</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Terdapat komputer yang dapat mencari buku yang tersedia pada perpustakaan</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Komputer tersebut juga dapat mencatat seberapa aktif mahasiswa dalam memasuki perpustakaaan</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-book" aria-hidden="true"></i><span>Pencarian Buku Digital</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-briefcase" aria-hidden="true"></i><span>Perpustakaan Bertingkat</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Perpustakaan IT Del merupakan bangunan tingkat 2</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Bangunan tersebut ditujukan untuk menampung lebih banyak mahasiswa dikarenakan antusias para mahasiswa ke dalam perpustakaan</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-briefcase" aria-hidden="true"></i><span>Perpustakaan Bertingkat </span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </section>
                            <section class="who-we-are">
                                <div class="company-info">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8 border">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div class="company-detail">
                                                            <h3 class="section-title">Sekilas Perpustakaan IT DEL</h3>
                                                            <span class="underline left"></span>
                                                            <p>Perpustakaan  Institut Teknologi (IT) Del memperoleh juara II di Sumut untuk kategori perpustakaan Perguruan Tinggi Swasta (PTS) menurut penilaian Dinas Perpustakaan dan Arsip Pemerintah Provinsi Sumatera Utara.

                                                            Kompetisi Perpustakaan ini dinilai dari berbagai macam kriteria, yaitu Profil Perpustakaan, Sistem Database Buku, Sistem Sirkulasi dan Manajemen Buku, Jumlah Koleksi Buku, dan lain-lain. Dalam presentasinya Kepala Perpustakaan IT Del Ibu Tiurma Lumban Gaol S.P., M.P mengambil tema “Think Locally But Act Globally”. Ditahap terakhir ini dipilihlah 3 (tiga) pemenang, dan IT Del mendapatkan juara II setingkat Provinsi Sumatera Utara.</p>
                                                            <p>Hadiah dari lomba ini sangat menarik, selain mendapatkan sejumlah uang, Dinas Perpustakaan dan Arsip Sumatera Utara memberikan kesempatan kepada perwakilan setiap pengelola perpustakaan untuk studi banding ke Perpustakaan Provinsi Jawa Barat.

                                                            Ibu Tiur mengatakan Juri Lomba mengapresiasi IT Del, karena dianggap membina perpustakaan dengan baik. Mereka mengharapkan peran perpustakaan IT Del tidak hanya di Tobasamosir saja tetapi juga di Provinsi Sumatera Utara.

                                                            Saat ini di Perpustakaan IT Del fasilitas buku dari berbagai disiplin ilmu sangat banyak dan juga  bahkan tersedia novel dan buku bacaan lainnya. Tiap tahun perpustakaan IT Del selalu memilih buku-buku yang cocok dengan kebutuhan mahasiswa sesuai dengan perkembangan teknologi.

                                                            Semoga prestasi ini dapat meningkat dan tim perpustkaan tetap semangat dalam melayani seluruh pengunjung perpustakaan IT Del.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="company-image"></div>
                                </div>
                            </section>
                            <div class="fun-stuff">
                                <div class="container">
                                    <div class="facts-counter">
                                        <ul>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-ebooks">
                                                    <div class="fact-icon">
                                                        <img src="images/icon-ebooks.png" alt="" />
                                                    </div>
                                                    <span>Buku<strong class="fact-counter">45780</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-eaudio">
                                                    <div class="fact-icon">
                                                        <img src="images/icon-eaudio.png" alt="" />
                                                    </div>
                                                    <span>Artikel<strong class="fact-counter">32450</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-magazine">
                                                    <div class="fact-icon">
                                                        <img src="images/icon-magazine.png" alt="" />
                                                    </div>
                                                    <span>Dokumen PA/TA<strong class="fact-counter">14450</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-videos">
                                                    <div class="fact-icon">
                                                        <img src="images/icon-videos.png" alt="" />
                                                    </div>
                                                    <span>CD<strong class="fact-counter">32450</strong></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <section class="company-info-box">
                                <div class="company-info">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 aligncenter">
                                            <div class="col-md-6 border-dark-left">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="company-detail bg-dark margin-left">
                                                            <h3 class="section-title">Buku Perpustakaan</h3>
                                                            <span class="underline left"></span>
                                                            <p>Buku dalam perpustakaan IT DEL merupakan terbanyak kedua di Sumatera Utara. Buku-buk tersebut didatangkan lansung dari penerbit asli dan sudah dicap milik DEL untuk copyright. Bukan hanya buku, terdapat juga artikel, dokumen PA/TA dari mahasiswa yang disimpan di dalam perpustakaan agar dapat dilihat mahasiswa lain juga terdapat CD.</p>
                                                            <a href="#." class="btn btn-primary">Dapatkan Buku</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 border-dark">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="company-detail bg-light margin-right">
                                                            <h3 class="section-title">Peminjaman Buku</h3>
                                                            <span class="underline left"></span>
                                                            <p>Buku-buku, dokumen PA/TA, artikerl, maupun CD tersebut dapat dipinjamkan kepada mahasiswa namun dengan catatan harus menjaga buku tersebut dan bila rusak yang bersangkutan harus mengganti kembali buku tersebut. Batas peminjaman maksimal 1 minggu dan jika tidak dikembalikan dengan waktu yang ditentukan maka akan mendapat denda</p>
                                                            <a href="contact.html" class="btn btn-dark-gray">Lakukan Peminjaman</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Start: Our Partners Section -->
                            <section class="community-testimonial">
                                <div class="container">
                                    <div class="text-center">
                                        <h2 class="section-title">Testimonial Mahasiswa</h2>
                                        <span class="underline center"></span>
                                        <p class="lead">Beberapa keterangan mahasiswa terhadap perpustakaan IT DEL</p>
                                    </div>
                                    <div class="owl-carousel">
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="images/testimonial-image-01.jpg" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                    Perpustakaan IT DEL sangat lengkap, dengan ketenangan dan kenyamanan yang diberikan membuat saya mampu dengan mudah menyerap ilmu dari buku yang saya baca.
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Josua Baringbing <small> (Mahasiswa)</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="images/testimonial-image-02.jpg" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                    Banyak sekali dokumen PA/TA kakak/abang tingkat yang membantu kelompok kami dalam mengerjakan proyek, ini sanga membantuk sekali bagi mahasiswa
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Rosida Sitorus <small> (Mahasiswi)</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="images/testimonial-image-01.jpg" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                    Mantap sekali perpustakaan ini, saya dengan mudah mencari buku yang saya inginkan dan ruangan diskusi membantu saya dan kelompok saya dalam merumuskan proyek kami dengan mudah.
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Bryan Lumbanraja <small> (Mahasiswa)</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- End: Our Partners Section -->
                            <section class="category-filter new-release">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 text-center">
                                            <h2 class="section-title">Daftar Buku Terbaru</h2>
                                            <span class="underline center"></span>
                                            <p class="lead">Beberapa buku terbaru :</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="category-filter">
                                    <ul class="category-list">
                                        <li class="category-item">
                                            <figure>
                                                <img src="images/category-filter/home-v1/category-filter-img-01.jpg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>The Great Gatsby</h4>
                                                        <span class="author"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                        <span class="author"><strong>ISBN:</strong> 9781581573268</span>
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="images/category-filter/home-v1/category-filter-img-02.jpg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>The Great Gatsby</h4>
                                                        <span class="author"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                        <span class="author"><strong>ISBN:</strong> 9781581573268</span>
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="images/category-filter/home-v1/category-filter-img-03.jpg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>The Great Gatsby</h4>
                                                        <span class="author"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                        <span class="author"><strong>ISBN:</strong> 9781581573268</span>
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="images/category-filter/home-v1/category-filter-img-04.jpg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>The Great Gatsby</h4>
                                                        <span class="author"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                        <span class="author"><strong>ISBN:</strong> 9781581573268</span>
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    </ul>                                    
                                    <div class="clearfix"></div>
                                </div>
                            </section>
                            <!-- Start: Category Filter -->
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Services Section -->
        
        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Ikuti Kami</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->
        
        <!-- Start: Footer -->
        <%- include('../partials/footer') %>
        <!-- End: Footer -->
        
        <%- include('../partials/footscript') %>
        
    </body>


</html>